.hero-section {
  background: rgb(0 0 0 / 100%) url("./src/gfx/background_hero_section/bg-fl.jpg") center center/cover no-repeat;
  height: 100vh;

  @media (max-width: 768px) {
    background: rgb(0 0 0 / 100%) url("./src/gfx/background_hero_section/unsplash_wSAefyqFmWQ.jpg") center center/cover no-repeat;
  }

  &__content {
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    @media (max-width: 1400px) {
      justify-content: center;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-bottom: 45px;

    #mouse-scroll-icon {
      width: 64px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &__play-button {
    gap: 20px;
    box-shadow: 0 6px 8px 3px rgb(0 0 0 / 40%);

    &:hover {
      transition: ease 0.3s;
      bottom: 20px;
      box-shadow: 0 8px 16px 8px rgb(0 0 0 / 40%);
    }

    img {
      width: 36px;
      height: 36px;
    }
  }
}
