@font-face {
	font-family: "Poppins";
	src: url("./src/fonts/poppins/Poppins-Bold.ttf");
	src: url("./src/fonts/poppins/Poppins-Medium.ttf");
	src: url("./src/fonts/poppins/Poppins-Regular.ttf");
}

:root {
--primary-button-color: #406343;
--accent1: #406343;
--scroll-thumb-color: #D9D9D9;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	color: white;
}


/* width */
::-webkit-scrollbar {
	width: 8px;
	}
	
/* Track */
::-webkit-scrollbar-track {
	background: rgba(179, 179, 179, 0.5);
	border-radius: 10px;
}
	
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scroll-thumb-color); 
	border-radius: 10px;
}
	
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(255, 255, 255); 
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 45px;
}

.logotype {
	width: 146px;
	height: 60px;
}

.navigation ul {
	display: flex;
}

.navigation ul {
	list-style-type: none;
	padding-left: 0px;
}
.navigation li a {
	color: white;
	text-decoration: none;
	padding-bottom: 0;
}

.navigation li a:hover {
	transition: padding-bottom ease 0.3s;
	padding-bottom: 4px;
	border-bottom: 4px solid var(--primary-button-color);
}

.navigation__links {
	gap: 45px;
}

.navigation__buttons {
	gap: 24px;
}

.navigation__button {
	width: 44px;
	height: 44px;
}

.slider-section {
	background: rgba(0, 0, 0, 1) url("./src/gfx/background_hero_section/bg-fl.jpg") center center/cover no-repeat;
	height: 100vh;
	position: relative;
}

.icon-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
}

.navigation__button:hover {
	transition: ease 0.3s;
	background-color: rgba(255, 255, 255, 0.1);
}

.navigation__button img {
	width: 26px;
}

.slider-videos {
	position: absolute;
	bottom: 0;
	padding: 0 30px;
	height: 100%;
	overflow: auto;
	z-index: 2;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}
.slider-videos::-webkit-scrollbar {
	display: none;
}
.slider-videos__content {
	display: flex;
	flex-direction: column;
	padding-top: calc(100vh - 420px);
}

.slider-videos__video {
	position: relative;
	width: 480px;
	height: 260px;
	border-radius: 20px;
	margin-bottom: 30px;
}
#monkeys-video {
	background-image: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 0.4)), url(src/gfx/video_previews/monke.jpg);
}
#elephants-video {
	background-image: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 0.4)), url(src/gfx/video_previews/elephant.jpg);
}
.slider-videos__video img {
	border-radius: 21px;
}
.slider-videos__video h3 {
	position: absolute;
	margin: 0 auto;
	bottom: 17px;
	left: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

.video__button {
	background-color: var(--primary-button-color);
	padding: 11px;
	border-radius: 20px;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 17px;
	right: 15px;
	border: none;
}

.video__button:hover {
	transition: ease 0.3s;
	bottom: 20px;
	box-shadow: 0 6px 8px 2px rgba(0, 0, 0, 0.4);
}

.video__button img {
	width: 32px;
	height: 32px;
}

.slider-section__buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 60vh;
	gap: 13px;
}
#mouse-scroll-icon {
	width: 64px;
}

.slider-section__play-button {
	background: var(--primary-button-color);
	border-radius: 20px;
	border: none;
	color: white;
	font-weight: 700;
	font-size: 25px;
	line-height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 18px 24px 17px 24px;
	gap: 20px;
	box-shadow: 0 6px 8px 3px rgba(0, 0, 0, 0.4);
}
.slider-section__play-button img {
	width: 36px;
	height: 36px;
}
.slider-section__play-button:hover {
	transition: ease 0.3s;
	bottom: 20px;
	box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.4);
}

.articles-slider {
	display: flex;
	align-items: flex-end;
	gap: 15px;
	height: 600px;
	position: absolute;
	right: 2vw;
}

.articles-slider__articles {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
	padding-right: 80px;
}

.articles-slider__article:first-child {
	margin-top: 45%;
}

.articles-slider__article {
	margin-bottom: 340px;
	mix-blend-mode: difference;
}

.articles-slider__article:last-child {
	margin-bottom: 170px;
}

.article__header {
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.article__paragraph {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	width: 430px;
	color: rgba(179, 179, 179, 0.8);
}

.scroll-module {
	height: 100%;
}

.scroll-module .numbers {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	right: 40px;
}

.numbers__number {
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 4px;
	margin: 0 auto;
}