.article {
  &__header {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 75%);
  }
}
