.articles-slider {
  display: flex;
  gap: 15px;
  height: 600px;
  width: 500px;
  margin-right: 30px;
  margin-bottom: 130px;

  &__articles {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 80px;
    gap: 100%;
  }

  &__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    mix-blend-mode: difference;
    width: 80%;

    &:first-child {
      margin: calc(600px - 100%) auto;
    }

    &:last-child {
      margin-bottom: 170px;
    }
  }
}