.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.video-button {
  background-color: var(--primary-button-color);
  padding: 11px;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 17px;
  right: 15px;
  border: none;

  &:hover {
    transition: ease 0.3s;
    bottom: 20px;
    box-shadow: 0 6px 8px 2px rgb(0 0 0 / 40%);
  }

  img {
    width: 32px;
    height: 32px;
  }
}

.primary-button {
  background: var(--primary-button-color);
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 24px 17px;
}