.slider-videos {
  bottom: 0;
  padding: 0 30px;
  height: 100%;
  overflow: auto;
  z-index: 2;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  @media (max-width: 1400px) {
    bottom: auto;
    top: 0;
    position: absolute;
    height: 260px;
    width: 100%;
    padding: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: calc(100vh - 420px);

    @media (max-width: 1400px) {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }
      flex-direction: row-reverse;
        padding-top: 0;
        padding-right: calc(100vw - 340px);
        overflow-y: hidden;
        overflow-x: auto;
    }
  }

  &__video {
    position: relative;
    width: 480px;
    height: 260px;
    border-radius: 20px;
    margin-bottom: 30px;

    @media (max-width: 1400px) {
      margin: 0 0 0 30px;
      min-width: 280px;
      min-height: 120px;
    }

    img {
      border-radius: 21px;
    }

    h3 {
      position: absolute;
      margin: 0 auto;
      bottom: 17px;
      left: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  #monkeys-video {
    background-image: url("./src/gfx/video_previews/monke.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center
  }

  #elephants-video {
    background-image: url("./src/gfx/video_previews/elephant.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center
  }
}
