.slider-videos {
  position: absolute;
  bottom: 0;
  padding: 0 30px;
  height: 100%;
  overflow: auto;
  z-index: 2;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding-top: calc(100vh - 420px);
  }

  &__video {
    position: relative;
    width: 480px;
    height: 260px;
    border-radius: 20px;
    margin-bottom: 30px;

    img {
      border-radius: 21px;
    }

    h3 {
      position: absolute;
      margin: 0 auto;
      bottom: 17px;
      left: 15px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  #monkeys-video {
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 40%)), url("./src/gfx/video_previews/monke.jpg");
  }

  #elephants-video {
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 40%)), url("./src/gfx/video_previews/elephant.jpg");
  }

  .video__button {
    background-color: var(--primary-button-color);
    padding: 11px;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 17px;
    right: 15px;
    border: none;

    &:hover {
      transition: ease 0.3s;
      bottom: 20px;
      box-shadow: 0 6px 8px 2px rgb(0 0 0 / 40%);
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}
